@inherits LayoutComponentBase

<div class="page">
    <header class="top-row px-4">
        <nav>
            <a href="/ui">vfps admin</a>
            <a href="/ui/namespaces">Namespaces</a>
        </nav>
    </header>

    <main class="content px-4">
        @Body
    </main>
</div>
