name: benchmarks

on:
  push:
    tags:
      - "v*"
    branches: [master]
    paths:
      - src/**
  pull_request:
    branches: [master]
    paths:
      - src/**

permissions:
  contents: read

jobs:
  benchmark:
    runs-on: ubuntu-24.04
    name: benchmark
    permissions:
      contents: write
      pages: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Install .NET
        uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5.0.0
        with:
          dotnet-version: "9.0.x"

      - name: Run benchmark
        run: dotnet run -c Release --project=src/Vfps.Benchmarks

      - name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@4bdcce38c94cec68da58d012ac24b7b1155efe8b # v1.20.7
        with:
          name: PseudonymGeneratorBenchmarks
          tool: "benchmarkdotnet"
          output-file-path: BenchmarkDotNet.Artifacts/results/Vfps.Benchmarks.PseudonymGeneratorBenchmarks-report-full-compressed.json
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: ${{github.event_name != 'pull_request'}}
          # Show alert with commit comment on detecting possible performance regression
          alert-threshold: "200%"
          comment-on-alert: true
          fail-on-alert: true
