name: buf

on:
  pull_request:
    branches: [master]

permissions:
  contents: read

jobs:
  lint:
    name: lint
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: bufbuild/buf-setup-action@a47c93e0b1648d5651a065437926377d060baa99 # v1.50.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: check formatting
        working-directory: src/Vfps
        run: buf format --exit-code

      - uses: bufbuild/buf-lint-action@06f9dd823d873146471cfaaf108a993fe00e5325 # v1.1.1
        with:
          input: src/Vfps
      # Doesn't currently work due to the weird file setup. Fails with:
      # Error: Protos/vfps/api/v1/meta.proto: does not exist
      # Error: Protos/vfps/api/v1/meta.proto: does not exist
      # Error: google/api/http.proto: does not exist
      # Error: buf found 3 breaking changes.
      # - uses: bufbuild/buf-breaking-action@1cd949a5f7c5581990772f1e0c8a5270d7e4401b # tag=v1.1.1
      #   with:
      #     input: src/Vfps
      #     against: "https://github.com/${{ github.repository }}.git#branch=master"
