name: scheduled

on:
  repository_dispatch: {}
  workflow_dispatch: {}
  schedule:
    - cron: "00 18 * * *"

permissions:
  contents: read

jobs:
  schedule:
    uses: miracum/.github/.github/workflows/standard-schedule.yaml@0fe32a245f1e9e2199a0293a3a5fea12774beef7 # v1.20.2
    permissions:
      contents: read
      issues: write
      security-events: write
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}
